@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap');

.App {
  text-align: center;
  background-color: #000;
  margin: auto;
  font-family: 'Montserrat', Helvetica, sans-serif;
  height: auto;
  min-height: 100%;
}

.header {
  font-size: 55px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.btn.btn-orange {
  background-color: #e96656;
  color: #fff;
}

.btn.btn-green {
  background-color: #1e9e6b;
  color: #fff;
}

.btn.btn-sm-font {
  padding: 1rem 1.5rem;
  font-size: 1.10rem;
}

.icon {
  width: 19px;
  height: 19px;
  padding-right: 5px;
  vertical-align: bottom;
  margin-top: .1rem;
}

.contact-page {
  height: 100vh;
}
